.contenedor {
  text-align: center;
}
.descripcion{
    text-align: center;
    margin: 3rem;
    background-color: rgb(253, 215, 1);
    border-radius: 0.5rem;
    color: rgb(0, 0, 0);
    padding-left: 1rem;
    padding-right: 1rem;
    
}
.flex{
    display: flex;
    align-items: baseline;
}
.contenedor-total {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 50px auto,auto,auto;
  background-color: rgb(255, 204, 247);
}
.notificacion{
    display: grid;
    grid-area: auto;
    text-align: center;
    width: 306px;
    margin: 50px auto,auto,auto;
}
.arreglo-triqui {
  height: 100px;
  box-shadow: 0 0 0 1px #000;
  border: 1px solid #000;
  border-color: rgb(67, 0, 252);
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
}
